.gallery-container {
  padding: 1rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gallery-image {
  width: 100%;
  /* height: 12rem; */
  height: 32rem;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-image {
  user-select: none;
  transition: transform 0.2s ease;
  transform-origin: center;
}

.close-button,
.nav-button {
  position: absolute;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-button:hover,
.nav-button:hover {
  transform: scale(1.1);
}

.close-button {
  top: 1.25rem;
  right: 1.25rem;
}

.nav-button.left {
  left: 1.25rem;
}

.nav-button.right {
  right: 1.25rem;
}
